@media (max-width: 1024px){
    header{
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
        gap: 30px;
    }

    header .logos img:nth-child(1){
        width: 90px;
        height: 90px;
    }

    header .menu{
        margin-top: 10px;
        gap: 60px;
    }

    header .menu li a{
        padding: 15px 0;
    }

    main .informacoes{
        top: 30px;
        right: 30px;
    }

    main .informacoes img{
        max-width: 150px;
    }

    main .informacoes .container-informacoes{
        gap: 20px;
    }

    main .informacoes .container-informacoes h1{
        font-size: 30px;
    }

    .compre-ja .cartao{
        width: 70%;
    }

    .ds2 .cartao-ds2 .informacoes-ds2 .btn-pre-venda{
        width: 70%;
    }
}

@media (max-width: 768px){
    main{
        min-height: 100vh;
    }

    main .informacoes{
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .compre-ja{
        padding: 50px;
    }

    .compre-ja h2{
        font-size: 35px;
    }

    .compre-ja .cartao .informacoes h3{
        font-size: 30px;
        letter-spacing: 2px;
    }

    .btn-plataformas{
        margin-top: 15px;
        padding: 15px;
    }

    .btn-plataformas{
        width: 100%;
    }

    .ds2 h2{
        font-size: 35px;
    }

    .ds2 .cartao-ds2{
        width: 100%;
    }

    .ds2 .cartao-ds2 .informacoes-ds2 .titulo{
        font-size: 25px;
    }
}

@media (max-width: 425px){
    header{
        padding: 30px 10px;
        justify-content: center;
    }

    header .logos{
        gap: 5px;
    }

    header .logos img{
        width: 90px;
        height: 90px;
    }

    header .menu{
        gap: 25px;
    }

    main .informacoes .container-informacoes .artes-do-jogo{
        display: flex;
        justify-content: center;
    }

    .btn-comprar{
        width: 100%;
    }

    .compre-ja{
        padding: 50px 30px;
    }

    .compre-ja .cartao{
        width: 100%;
        padding: 20px;
    }

    .compre-ja .cartao .capa-do-jogo{
        width: 100%;
    }

    .ds2{
        padding: 50px 30px;
    }

    .ds2 .cartao-ds2{
        flex-direction: column;
        width: 100%;
    }

    .ds2 .cartao-ds2 .capa-ds2{
        width: 100%;
    }

    .ds2 .cartao-ds2 .informacoes-ds2{
        width: 100%;
        padding: 20px 10px;
    }

    .ds2 .cartao-ds2 .informacoes-ds2 .btn-pre-venda{
        width: 100%;
    }
}